.margin{
    margin-left: 3rem;
    margin-right: 3rem;
}

#color {
    color: aqua;
}

#purple{
    color: blueviolet;
}

#element {
    color: #00ff00;
}

.second h5 {
    color: gray;
 margin-top: 3rem;
 font-weight: 400;
 font-size: 1rem;
 margin-left: 2.8rem;
}